<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>酷炫登陆界面</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
<form action="/?next=/myblog/" method="post">
    {% csrf_token %}
   <div class="login">
       <div id="branding">
       {% block header %}<h2>用户登录</h2>{% endblock %}
           </div>
       <div class="login_box">
           <!-- required就是不能为空，必须在css效果中有很大的作用 -->
           <input autocomplete="off" name="username" type="text" required="required">
           <label id="username" for="username">用户名</label>
       </div>
       <div class="login_box">
           <input name="password" type="password" required="required">
           <label id="password" for="password">密码</label>
       </div>
       <a>
           <div class="submit-row">
           <input type="submit" style="background-color:transparent;border-style:none;color: #0c7cd5;font-size: 20px;" value="登录">
               </div>
           <span></span>
           <span></span>
           <span></span>
           <span></span>
       </a>
        <a href="/register/" style="font-size: 1px" class="text-success "><ins>新用户注册</ins></a>
   {% if error %}
    <p style="color: red;">{{ error }}</p>
       <script type="text/javascript">
        setTimeout(function(){//定时器
        $("p").css("display","none");//将图片的display属性设置为none
        },
        5000);//设置五千毫秒即5秒
        </script>
    {% endif %}
    </div>
    </form>
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/login.js" defer></script>
</body>
</html>

