{% extends '_base.html' %}

{% block content %}
         <main class="main" role="main">
            <article class="article article-categories article-type-list" itemscope>
                <header class="article-header">
                    <h1 itemprop="name" class="hidden-xs">分类</h1>
                    <p class="text-muted hidden-xs">共 5 个分类</p>
                    <nav role="navigation" id="nav-main" class="okayNav">
                        <ul>
                            <li>
                                <a href="/categories">All</a>
                            </li>
                            <li>
                                <a href="/categories/front-end-development/">前端</a>
                            </li>
                            <li>
                                <a href="/categories/个人/">个人</a>
                            </li>
                            <li>
                                <a href="/categories/开发/">开发</a>
                            </li>
                            <li>
                                <a href="/categories/开发工具/">开发工具</a>
                            </li>
                            <li>
                                <a href="/categories/build-website/">建站</a>
                            </li>
                        </ul>
                    </nav>
                </header>
                <div class="article-body">
                    <div class="panel panel-default b-no">
                        <div class="panel-heading" role="tab">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" href="#collapse前端" aria-expanded="true">
                                    <i class="icon icon-folder text-active"></i>
                                    <i class="icon icon-folder-open text"></i>
                                    前端
                                </a>
                                <small class="text-muted">(Total 1 articles)</small>
                            </h3>
                        </div>
                        <div id="collapse前端" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading前端">
                            <div class="panel-body">
                                <div class="collection">
                                    <a href="/2017/08/06/gulp-comon-plug-in-colation.html" class="collection-item" target="_blank" itemprop="url">
                                        <time datetime="2017-08-06T14:52:29.000Z" itemprop="datePublished">2017-08-06</time>
                                        <span>&nbsp;&nbsp;&nbsp;</span>
                                        gulp常用插件整理
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default b-no">
                        <div class="panel-heading" role="tab">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" href="#collapse个人" aria-expanded="true">
                                    <i class="icon icon-folder text-active"></i>
                                    <i class="icon icon-folder-open text"></i>
                                    个人
                                </a>
                                <small class="text-muted">(Total 1 articles)</small>
                            </h3>
                        </div>
                        <div id="collapse个人" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading个人">
                            <div class="panel-body">
                                <div class="collection">
                                    <a href="/2018/03/25/年后的状态，懒！.html" class="collection-item" target="_blank" itemprop="url">
                                        <time datetime="2018-03-25T06:59:41.000Z" itemprop="datePublished">2018-03-25</time>
                                        <span>&nbsp;&nbsp;&nbsp;</span>
                                        年后的状态，懒！
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default b-no">
                        <div class="panel-heading" role="tab">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" href="#collapse开发" aria-expanded="true">
                                    <i class="icon icon-folder text-active"></i>
                                    <i class="icon icon-folder-open text"></i>
                                    开发
                                </a>
                                <small class="text-muted">(Total 1 articles)</small>
                            </h3>
                        </div>
                        <div id="collapse开发" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading开发">
                            <div class="panel-body">
                                <div class="collection">
                                    <a href="/2018/03/28/那些有趣的注释，有没有你曾用过的.html" class="collection-item" target="_blank" itemprop="url">
                                        <time datetime="2018-03-28T12:45:41.000Z" itemprop="datePublished">2018-03-28</time>
                                        <span>&nbsp;&nbsp;&nbsp;</span>
                                        那些有趣的注释，有没有你曾用过的
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default b-no">
                        <div class="panel-heading" role="tab">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" href="#collapse开发工具" aria-expanded="true">
                                    <i class="icon icon-folder text-active"></i>
                                    <i class="icon icon-folder-open text"></i>
                                    开发工具
                                </a>
                                <small class="text-muted">(Total 1 articles)</small>
                            </h3>
                        </div>
                        <div id="collapse开发工具" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading开发工具">
                            <div class="panel-body">
                                <div class="collection">
                                    <a href="/2017/12/17/visual-studio-code-personal-use-plug-in-colation.html" class="collection-item" target="_blank" itemprop="url">
                                        <time datetime="2017-12-17T10:32:51.000Z" itemprop="datePublished">2017-12-17</time>
                                        <span>&nbsp;&nbsp;&nbsp;</span>
                                        Visual Studio Code个人使用插件整理
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default b-no">
                        <div class="panel-heading" role="tab">
                            <h3 class="panel-title">
                                <a data-toggle="collapse" href="#collapse建站" aria-expanded="true">
                                    <i class="icon icon-folder text-active"></i>
                                    <i class="icon icon-folder-open text"></i>
                                    建站
                                </a>
                                <small class="text-muted">(Total 1 articles)</small>
                            </h3>
                        </div>
                        <div id="collapse建站" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading建站">
                            <div class="panel-body">
                                <div class="collection">
                                    <a href="/2017/08/15/third-party-socialized-review-system.html" class="collection-item" target="_blank" itemprop="url">
                                        <time datetime="2017-08-15T03:19:22.000Z" itemprop="datePublished">2017-08-15</time>
                                        <span>&nbsp;&nbsp;&nbsp;</span>
                                        第三方社会化评论系统整理
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </main>
{% endblock %}